body {
  font-family: cursive;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  color: blue;
}

#submit_button {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0.2rem 0.2rem black;
}

#sort_button {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  margin: 10px;
}

.displayWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

#display_card {
  padding: 3px;
  width: 35%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:nth-child(even) {
  background-color: #ddd;
}

#card1 {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card button {
  height: 30px;
  box-shadow: 0.2rem 0.2rem black;
}

.card p {
  margin: 5px;
}

hr {
  width: 100px;
  color: black;
  border: 2px solid black;
}

.remove {
  border: 2px solid black;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#title,
#author {
  border: 2px solid black;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 300px;
}

#title::placeholder,
#author::placeholder {
  color: black;
}

.nav {
  border: 4px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  margin: 0;
}

.nav h1 {
  margin: 0;
  padding: 0;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav li {
  margin: 0;
  padding: 0;
}

section {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newBook {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact ul {
  display: flex;
  flex-direction: column;
}

.footer {
  border: 4px solid black;
  padding: 0 20px;
  margin: 0;
}

.time {
  text-align: right;
}
